
#pv-profile-img {
  width: 35%;
  margin: auto;
}

.pv-content {
  margin: 5%;
}

.pv-sidebar {
  margin-top: 5%;
  margin-bottom: 5%;
}

.pv-project {
  margin: 5%;
  margin-left: 7%;
  margin-top: 7%;
}

.pv-tab-content {
  margin-top: 4%;
}

.nav-pills>li>a.active,
.nav-pills>li>a.active:hover,
.nav-pills>li>a.active:focus {
  background-color: #7ab863;
  font-weight: bold;
  color: #ffffff;
}

.pv-project-buttons-tabbed {
  padding-left: 0;
  padding-right: 1%;
}

#pv-project-buttons > ul > li {
  display: inline;
}

#pv-contact-details {
  text-align: center;
}

a {
  color: #67A84F;
}

a:hover,
a:focus {
  color: #67A84F;
}

.carousel-control {
  font-size: 35px;
  color: #67A84F;
  opacity: .9;
}

.carousel-control:hover {
  color: #D1D1D1;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.item>img {
  margin-right: auto;
  margin-left: auto;
}

.pv-img-android {
  width: 404px;
  height: 571px;
}


@media (min-width: 992px) {

  .pv-main-column {
    margin-top: 10%;
    margin-bottom: 7%;
  }

  #projects.pv-main-column {
    margin-top: 4%;
  }

  .pv-sidebar {
    width: 120px;
    position: fixed;
    margin-top: 12%;
  }

  #pv-profile-img {
    width: 100%;
    margin: auto;
    margin-top: 15%;
  }

  .pv-content {
    margin: 0;
  }

  #pv-project-buttons {
    padding-left: 0;
  }

  #pv-project-buttons > ul > li {
    display: block;
    margin-top: 8%;
  }

  #pv-project-buttons > ul > li > a {
    width: 100%;
    text-align: left;
  }

  #pv-contact-details {
    text-align: left;
  }
}

@media (min-width: 1200px) {

  #pv-project-buttons > ul > li > a {
    width: 85%;
  }

}
